INTERVAL_TIME=300
POSTGRES_DB=shipdb
POSTGRES_USER=portcdm
POSTGRES_PASSWORD=password
LINE_NOTIFY_TOKEN=
LINE_NOTIFY_TOKEN_PILOT=
LINE_NOTIFY_TOKEN_UNMOORING=
LINE_NOTIFY_TOKEN_TUGBOAT=
LINE_NOTIFY_TOKEN_SHIPPINGAGENT_WAN_HAI=
LINE_NOTIFY_TOKEN_SHIPPINGCOMPANY_YANG_MING=
LINE_NOTIFY_TOKEN_LOADINGUNLOADING_LIEN_HAI=
LINE_NOTIFY_TOKEN_CIQS=
LINE_NOTIFY_TOKEN_PIER_LIEN_HAI=
LINE_NOTIFY_TOKEN_PIER_SELF_OPERATED=
